<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101202551639-vdfojkj3ej4tm6us0cl34rsbvggdcn8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101202551639-vdfojkj3ej4tm6us0cl34rsbvggdcn8p</string>
	<key>API_KEY</key>
	<string>AIzaSyBVYviFFyVAADy3dGQdn9hV86RLi3-jnUI</string>
	<key>GCM_SENDER_ID</key>
	<string>101202551639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carebox</string>
	<key>PROJECT_ID</key>
	<string>almshouse-239005</string>
	<key>STORAGE_BUCKET</key>
	<string>almshouse-239005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101202551639:ios:99d63ca9d3d15f488b9412</string>
</dict>
</plist>